{% extends "base_generic.html" %}
{% load getdata_extras %}
{% block content %}
<h2>Selected Data</h2>

<div class="container-fluid">
<table class="table">

<thead class="thead-inverse">
<tr>
<th>SNUM</th>
{% for f in fields %}
	<th>{{f}}</th>
{% endfor %}
{% for f in seq_names %}
	<th>{{f}}_inclusive</th>
	<th>{{f}}_strict</th>
	<th>{{f}}_notes</th>
{% endfor %}
{% for f in fields_hcpmpp %}
	<th>{{f}}</th>
{% endfor %}
</tr>
</thead>

{% for subj,vals_inc,vals_hcpmpp in subj_data_tuples %}
<tr>
<td>{{subj.snum}}</td>  
	{% for f in fields %}
		<td> {{ subj|getattribute:f }} </td>
	{% endfor %}
	{% for v in vals_inc %}
		<td> {{ v.inclusive }} </td>
		<td> {{ v.strict }} </td>
		<td> {{ v.note }} </td>
	{% endfor %}
	{% for v in vals_hcpmpp %}
		<td> {{ v.value }} </td>
	{% endfor %}	
</tr>
{% endfor %}

</table>
</div>
{% endblock %}